@page {
  size: landscape;
}

html{
  height:100%;
  /* position:static; */
}

.not-printable{
  display: none;
}

.calendar *{
  font-size:7pt;
  color:#000;
}

.taches-employe:not(.active){
  font-size:6pt;
}


.calendar h4{
  font-size:3em;
}

.calendar-day > h5{
  font-size:1.2em;
}

.container,.row {
  margin:0;
  padding:0;
  min-width:100%;
  width:100%;
  /* position:static; */
}

.calendar .row:first-of-type{
  max-height:20mm;
  overflow:hidden;
}


.calendar .row:nth-child(2){
  max-height:190mm;
  overflow:hidden;
}

.calendar{
  position: static;
  width:297mm;
  height:200mm;
  page-break-after: always;
}

.calendar-week{
  /* min-height:190mm; */
  height:190mm;
  width:287mm;
  margin:0;
  padding:0;
}

.taches-employe .row{
  justify-content: flex-start;
  align-items: flex-start;
}

.tache{
  padding:0 1em 0 0.1em
}

.taches-employe {
  margin:0 0 0.1em 
}